# exlude from formatting and linting
extend-exclude = ["scripts", "commands/tests", "*.ipynb"]
# automatic fix
fix = true
# line-length
line-length = 119
# Always generate Python 3.11-compatible code.
target-version = "py311"

[lint]
extend-select = ["ALL"]
ignore = [
    "ANN",
    "A002",    # Argument {name} is shadowing a Python builtin
    "A003",    # Class attribute {name} is shadowing a Python builtin
    "BLE001",  # catch blind exception
    "D100",    # Missing docstring in public module
    "D104",    # Missing docstring in public package
    "DTZ005",  # Missing timezone information in datetime
    "EM101",   # Exception must not use a string literal, assign to variable first
    "EM102",   # Exception must not use an f-string literal, assign to variable first
    "ERA001",  # Found commented out code
    "FIX002",  # Consider resolving TODO
    "N801",    # Class names should normally use the CapWords convention
    "PLR0913", # Too many arguments to function call ({c_args} > {max_args})
    "PLR2004", # Magic value comparison
    "TD002",   # Missing TODO(user): description
    "TD003",   # Missing issue link on the line following TODO
    "TRY003",  # Avoid specifying long messages outside the exception class
    "ARG003",  # Argument {name} is shadowing a Python builtin
    "COM812",  # Use a single expression for the body of a comprehension
    "D401",   # First line should be in imperative mood; try rephrasing
]

[lint.mccabe]
max-complexity = 15

[lint.per-file-ignores]
# ignore linting for __init__.py
# E402: module-import-not-at-top-of-file
# F401: unused import
"__init__.py" = ["E402", "F401"]
"alembic/*" = ["ANN", "D", "INP001", "T201", "E402", "RUF001", "PLC0415", "E501", "C901", "PLR0912", "PLR0915", "FBT001", "FBT002", "SIM102", "SIM103"]
# ignore assert check in test files
"tests/*" = [
    "ARG002",  # unused argument {name}
    "FBT001",  # boolean-type-hint-positional-argument
    "PLR2004",  # magic value comparison
    "S101",  # use of assert detected
    "S105",  # hard-coded password string
    "SLF001",  # private member accessed
    "PLC0415",
    "E402",
]

[lint.pydocstyle]
convention = "numpy"

[lint.pyupgrade]
# Preserve types, even if a file imports `from __future__ import annotations`.
keep-runtime-typing = true
